@{
    ViewData["Title"] = "Add New Customer";
}
<br />
<h2>
    @ViewData["Message"]
</h2> 

<hr />
<form>
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" placeholder="Name">
    </div>
    <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email" placeholder="Email">
    </div>
    <div class="form-group">
        <label for="phone">Phone</label>
        <input type="text" class="form-control" id="phone" placeholder="Phone Number">
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox"> Is Major?
        </label>
    </div>
    <div class="form-group">
        <label for="credit-rating">Credit Rating</label>
        <input type="text" class="form-control" id="credit-rating" placeholder="Credit Rating">
    </div>
    <div class="form-group">
        <label for="tax-rate">Sales Tax Rate</label>
        <input type="text" class="form-control" id="tax-rate" placeholder="Tax Rate">
    </div>
    <div class="form-group">
        <label for="notes">Notes/Comments</label>
        <textarea class="form-control" rows="3"></textarea>
    </div>
    <br />
    <button type="submit" class="btn btn-info">Submit</button>
    <br />
</form>

<br />
<br />

