@{
    ViewData["Title"] = "Update Customer";
}
<br />
<h2>
    @ViewData["Message"]
</h2>


<hr />
<form>
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" placeholder="Name" value="Peter Rabbit">
    </div>
    <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email" placeholder="Email" value="rabbit@carrots.com">
    </div>
    <div class="form-group">
        <label for="phone">Phone</label>
        <input type="text" class="form-control" id="phone" placeholder="Phone Number" value="1-800-LOVE-CARROTS">
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox" checked> Is Major?
        </label>
    </div>
    <div class="form-group">
        <label for="credit-rating">Credit Rating</label>
        <input type="text" class="form-control" id="credit-rating" placeholder="Credit Rating" value="Excellent">
    </div>
    <div class="form-group">
        <label for="tax-rate">Sales Tax Rate</label>
        <input type="text" class="form-control" id="tax-rate" placeholder="Tax Rate" value="8%">
    </div>
    <div class="form-group">
        <label for="notes">Notes/Comments</label>
        <textarea class="form-control" rows="3">Orders pet food for his friends every 2 days and party's like an animal.</textarea>
    </div>
    <br />
    <button type="submit" class="btn btn-info">Submit</button>
    <br />
</form>

<br />
<br />


