@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <br />
    <br />
    <img class="mt-5" src="https://drive.google.com/uc?id=10RfmULkPLuWCxz0QBR-X3VYD_tcEkPKE" alt="Alternate Text" />
    <hr />
    <h2 class="text-info">Welcome to the Thompson Logistics System!</h2>
</div>
<br />
<br />
<br />
<div class="row">
    <div class="col-md-3">
        <div class="thumbnail">
            <br />
            <div class="text-center">
                <h1><i class="fas fa-clipboard-check fa-4x text-center text-info"></i></h1>
            </div>
            <div class="caption">
                <h3>Purchasing</h3>
                <p>Manage purchase orders, vendors, products, generate reports, etc.</p>
                <br />
                <p><a href="#" class="btn btn-primary" role="button">Go to Purchasing Hub</a>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="thumbnail">
            <br />
            <div class="text-center">
                <h1><i class="fas fa-shopping-cart fa-4x text-center text-info"></i></h1>
            </div>
            <div class="caption">
                <h3>Sales</h3>
                <p>Manage purchase orders, vendors, products, generate reports, etc.</p>
                <br />
                <p><a href="#" class="btn btn-primary" role="button">Go to Purchasing Hub</a>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="thumbnail">
            <br />
            <div class="text-center">
                <h1><i class="fas fa-cog fa-4x text-center text-info"></i></h1>
            </div>
            <div class="caption">
                <h3>Operation</h3>
                <p>Manage purchase orders, vendors, products, generate reports, etc.</p>
                <br />
                <p><a href="#" class="btn btn-primary" role="button">Go to Purchasing Hub</a>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="thumbnail">
            <br />
            <div class="text-center">
                <h1><i class="fas fa-user-cog fa-4x text-center text-info"></i></h1>
            </div>
            <div class="caption">
                <h3>Admin</h3>
                <p>Manage purchase orders, vendors, products, generate reports, etc.</p>
                <br />
                <p><a href="#" class="btn btn-primary" role="button">Go to Purchasing Hub</a>
            </div>
        </div>
    </div>
</div>

