@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <br />
    <br />
    <img class="mt-5" src="https://drive.google.com/uc?id=10RfmULkPLuWCxz0QBR-X3VYD_tcEkPKE" alt="Alternate Text" />
    <hr />
    <h2 class="text-info">Welcome to the Thompson Logistics System!</h2>
</div>
<br />
<br />
<br />
<div class="row">
    <div class="col-md-3">
        <div class="thumbnail">
            <br />
            <div class="text-center">
                <h1><i class="fas fa-clipboard-check fa-3x text-center text-info"></i></h1>
            </div>
            <div class="caption text-center">
                <h3>Purchasing</h3>
                <p>Manage purchase orders, vendors, products, generate reports, etc.</p>
                <br />
                <p><a href="@Url.Action("Purchasing", "Home")" class="btn btn-primary" role="button">Go to Purchasing Hub</a>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="thumbnail">
            <br />
            <div class="text-center">
                <h1><i class="fas fa-shopping-cart fa-3x text-center text-info"></i></h1>
            </div>
            <div class="caption text-center">
                <h3>Sales</h3>
                <p>Manage sales orders, customers and generate reports, etc.</p>
                <br />
                <p><a href="@Url.Action("Sales", "Home")" class="btn btn-primary" role="button">Go to Sales Hub</a>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="thumbnail">
            <br />
            <div class="text-center">
                <h1><i class="fas fa-cog fa-3x text-center text-info"></i></h1>
            </div>
            <div class="caption text-center">
                <h3>Operations</h3>
                <p>Manage receiving, deliveries, inventory, etc.</p>
                <br />
                <p><a href="@Url.Action("Operations", "Home")" class="btn btn-primary" role="button">Go to Operations Hub</a>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="thumbnail">
            <br />
            <div class="text-center">
                <h1><i class="fas fa-user-cog fa-3x text-center text-info"></i></h1>
            </div>
            <div class="caption text-center">
                <h3>Admin</h3>
                <p>Manage reports, manage users, etc.</p>
                <br />
                <br />
                <p><a href="@Url.Action("Admin", "Home")" class="btn btn-primary" role="button">Go to Admin Dashboard</a>
            </div>
        </div>
    </div>
</div>

