@{
    ViewData["Title"] = "Operations";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>
<hr />
<br />
<br />
<h4>What would you like to do?</h4>
<div class="row">
    <div class="col-md-3">
        <a href="#" class="thumbnail text-center">
            <h2><i class="fas fa-paste fa-4x"></i></h2>
        </a>
        <h4>Manage Merchandise Received</h4>
    </div>
    <div class="col-md-3">
        <a href="#" class="thumbnail text-center">
            <h2><i class="fas fa-cart-plus fa-4x"></i></h2>
        </a>
        <h4>Manage Customer Orders</h4>
    </div>
    <div class="col-md-3">
        <a href="#" class="thumbnail text-center">
            <h2><i class="fas fa-print fa-4x"></i></h2>
        </a>
        <h4>Generate Sales Reports</h4>
    </div>
</div>
<br />
<br />
<br />
<br />