@{
    ViewData["Title"] = "Purchasing";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>
<hr />
<br />
<br />
<h4>What would you like to do?</h4>
<div class="row">
    <div class="col-md-3">
        <a href="#" class="thumbnail text-center">
            <h2><i class="fas fa-search-dollar fa-4x"></i></h2>
        </a>
        <h4>View My Purchase Orders</h4>
    </div>
    <div class="col-md-3">
        <a href="#" class="thumbnail text-center">
            <h2><i class="fas fa-cart-plus fa-4x"></i></h2>
        </a>
        <h4>Create New Purchase Order</h4>
    </div>
    <div class="col-md-3">
        <a href="#" class="thumbnail text-center">
            <h2><i class="fas fa-tasks fa-4x"></i></h2>
        </a>
        <h4>Schedule Inventory Audit</h4>
    </div>
    <div class="col-md-3">
        <a href="#" class="thumbnail text-center">
            <h2><i class="fas fa-print fa-4x"></i></h2>
        </a>
        <h4>Generate Reports</h4>
    </div>
</div>
<br />
<br />
<br />
<br />